<!DOCTYPE html>
<html lang="en">

<head>
  <title>ServerSMP - Commands</title>
  <link rel="shortcut icon" href="web/assets/serversmp-bot.png" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body>
  <a href="/"><img src="web/assets/serversmp-bot.png" alt="Bot's Avatar" class="avatar"></a>
  <section class="main-content">
    <p>To get a look of the commands in discord, use -help to view the commands!</p>
    <% commands.forEach(({ name, value}) => { %>
    <table style="width: 100%;">
      <h1 style="text-align: center;">
        <%= name %>
      </h1>
      <tr>
        <th>Command Name</th>
        <th>Usage</th>
        <th>Description</th>
        <th>Aliases</th>
        <th>User Perms</th>
      </tr>
      <% value.forEach(({ name, description, aliases, usage, userPermission, botPermission}) => { %>
      <tr>
        <td><%= name%></td>
        <td><%= usage%></td>
        <td><%= description%></td>
        <td><%= typeof aliases === 'string' ? aliases : aliases.join(', ')%></td>
        <td><%= userPermission%></td>
      </tr>
      <%}) %>
    </table>
    <%}) %>
  </section>
</body>
<style>
  table {
    border-collapse: collapse;
    boder-spacing: 0;
  }

  * {
    box-size: border-box;
  }

  body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans";
    font-size: 16px;
    line: height: 1.5;
    color: #606c71;
    background-color: black;
  }

  .main-content {
    word-wrap: break-word;
  }

  @media screen and (min-width: 64em) {
    .main-content {
      max-width: 64rem;
      padding: 2rem 6rem;
      margin: 0 auto;
      font-size: 1.1rem;
    }
  }

  @media screen and (min-width: 42em) and (min-width: 64em) {
    .main-content {
      padding: 2rem 4rem;
      font-size: 1.1rem;
    }
  }

  @media screen and (min-width: 42em) {
    .main-content {
      padding: 2rem 1rem;
      font-size: 1rem;
    }
  }

  .main-content h1,
  .main-content h2,
  .main-content h3,
  .main-content h4,
  .main-content h5,
  .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #e9ebec
  }

  .main-content table th,
  .main-content table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec;
  }

  .avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20% -webkit-transform: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
  }

  .avatar:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  p {
    text-align: center;
  }
</style>

</html>
