<div class="container-sm center" style="margin-top: 30px;">
    <div class="d-grid gap-2 col-4 mx-auto">

        <h1 style="text-align: center;"><%= guild.name %></h1>
        <hr>

        <form method="POST">
            <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">XP:</p>
            <select class="form-select mb-3" name="xp.web">
                <option value="<%= settings.xp.web %>" selected>
                    <%= settings.xp.web %>
                </option>
                <% if (settings.xp.web == true) { %>
                    <option value="false">false</option>
                <% } else { %>
                    <option value="true">true</option>
                <% } %>
            </select>

            <select class="form-select mb-3" name="xp.ping">
                <option value="<%= settings.xp.ping %>" selected>
                    <%= settings.xp.ping %>
                </option>
                <% if (settings.xp.ping == true) { %>
                    <option value="false">false</option>
                <% } else { %>
                    <option value="true">true</option>
                <% } %>
            </select>

            <input type="number" class="form-control mb-3" name="xp.rate" value="<%= settings.xp.rate %>" placeholder="A number for the xp rate">

            <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">Rankcard:</p>
            <div class="input-group mb-3">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" name="xp.card.progress.option" value="<%= settings.xp.card.progress.option %>"
                        <% if (settings.xp.card.progress.option) { %>
                            checked
                        <% } %>
                    >
                </div>
                <input type="color" class="form-control form-control-color" name="xp.card.progress.color" value="<%= settings.xp.card.progress.color %>">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" name="xp.card.background.option" value="<%= settings.xp.card.background.option %>" 
                        <% if (settings.xp.card.background.option) { %>
                            checked
                        <% } %>
                    >
                </div>
                <input type="text" class="form-control" name="xp.card.background.url" value="<%= settings.xp.card.background.url %>" placeholder="Url must end with .png or .jpeg">
            </div>

            <select class="form-select" name="xp.card.status.style">
                <option value="<%= settings.xp.card.status.style %>" selected>
                    <%= settings.xp.card.status.style %>
                </option>
                <% if (settings.xp.card.status.style == "normal") { %>
                    <option value="circle">circle</option>
                <% } else { %>
                    <option value="normal">normal</option>
                <% } %>
            </select>

            <input type="hidden" name="category" value="rank">

            <br>
            <button type="submit" class="btn btn-secondary text-white">Save Settings</button>
        </form>
    </div>

</div>